*{
    background-color: #000000;

}
.container_wrapper{
    max-width: 1487px;
    margin-left:auto;
    margin-right: auto;
    background-color: #000000;
    font-family: 'Inter';
}

/* header */

.header__heading{
    line-height: 73px;
letter-spacing: -0.03em;
}
.heading__para{
    line-height: 34px;
    letter-spacing: -0.03em;

}
.header__items__text{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.header__items__img{
margin-top:-20px
}