body {
  background: #000;
  color: #F0EEEB;
  font-family: 'Inter', sans-serif;
}

.pt-0 {
  padding-top: 0;
}

.bg-yellow-500 {
  background: #FFD952 !important;
}


.bg-dark {
  background: #181818 !important;
}

.navbar-custom.is-sticky img {
  width: 100px;
}


.main-heading {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  color: #F0EEEB;
}

.sub-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.04em !important;
  color: #F0EEEB !important;
}

.main-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.03em;
  color: #808080;
}


.text-gray {
  color: #808080;
}

.text-50 {
  font-size: 50px;
}

#home {
  padding: 120px 0 100px;
}

.service-section h4 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.04em;
}


.service-section .grid p {
  font-weight: 00;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.service-section .grid-cols-1 {
  border-left: 1px solid #ffffff52;
  border-right: 1px solid #ffffff52;

}

.service-section .grid-cols-1:before {
  content: "";
  border-top: 1px solid #ffffff52;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.service-section .grid-cols-1:after {
  content: "";
  border-top: 1px solid #ffffff52;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}



.service-section .line {
  border-top: 1px solid #ffffff52;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.service-section .line-1 {
  border-right: 1px solid #ffffff52;
  position: absolute;
  left: 32.3%;
  top: 0;
  height: 100%;
}


.service-section .line-2 {
  border-right: 1px solid #ffffff52;
  position: absolute;
  left: 67.4%;
  top: 0;
  height: 100%;
}

.team-section {
  padding-top: 20px;
}

.customer-section {
  padding-top: 60px;
}

.vision-section {
  padding-top: 20px;
}

.customer-section .masonry {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  margin-top: 100px;
  padding: 0;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}

.customer-section .card {
  display: inline-block;
  background: #181818;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  border-radius: 22px;
  padding: 40px;

}


.customer-section .card p {
  font-size: 19px;
  line-height: 30px;
  color: #808080;

}


.customer-section .card img {
  max-width: 100%;
}


.footer-start h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}

.owl-dots {
  display: none;
}

.happy-customer .item img {
  width: 26px !important;
  display: inline-flex !important;
  margin-right: 10px;
}

.footer-start {
  padding: 80px 0 !important;
}

.feature-section h2 {
  font-size: 64px;
  line-height: 65px;
  margin-bottom: 40px;
}

#home .flex img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

#home .flex p {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;

}

.happy-customer {
  padding-bottom: 60px;
}

.vision-section .card {
  background: #181818;
  border-radius: 25px;
  padding: 35px;
}

.vision-section .card h4 {

  font-size: 36px;
  line-height: 41px;
}

.vision-section .card p {
  font-size: 19px;
  line-height: 30px;
}

.vision-section .card .w-100 {
  width: 100%;
}

.spirit-section .card {
  padding: 40px 80px 40px 40px;
  text-align: left;
}

.spirit-section .card .w-40 {
  width: 40% !important;

}


.spirit-section .card .w-60 {
  width: 60% !important;

}

.accordion-outer {
  display: flex;
  flex-wrap: wrap;

}

.faq-section ul {
  width: 50%;
  padding: 10px;
}

.faq-section ul li {
  padding: 10px 0;

}

.faq-section ul .inner {
  overflow: hidden;
  display: none;
}

.faq-section ul li a.toggle {
  width: 100%;
  display: block;
  background:
  #181818;
  color: #fefefe;
  padding: 25px 30px;
  font-size: 20px;
  text-align: left;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.faq-section ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}


.owl-item .item {
  transform: translate3d(0, 0, 0);
  transform: scale(0.9);

  transition: all .25s ease-in-out;
}


.screenshot_slider .owl-item .item img {
  -webkit-transition: 0.3s;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.screenshot_slider .owl-item.center .item img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.screenshot_slider .owl-nav {
  text-align: center;
}

.screenshot_slider .owl-nav button {
  font-size: 24px !important;
  margin: 10px;
  color: #033aff !important;
}

.screenshot_slider .owl-stage {
  display: flex;
  align-items: center;
}

.btn-watch {
  position: absolute;
  width: 104.72px;
  height: 104.72px;
  background: #808080;
  text-align: center;
  border-radius: 50%;
  top: 38%;
  left: 43%;
}

.navbar-custom img {
  width: 140px;
}

.btn {
  text-align: center;
}

/* Media query */


@media (min-width: 1600px) {
  .lg\:container {
    max-width: 1650px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .container {
    max-width: 1485px;
    padding-right: 15px;
    padding-left: 15px;
  }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
  .customer-section .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .customer-section .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 1201px) {
  .customer-section .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (max-width: 1600px) {
  .main-heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
  }

  .service-section h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }

  .vision-section .card h4 {
    font-size: 28px;
    line-height: 38px;
  }


  .vision-section .card p {
    font-size: 16px;
    line-height: 26px;
  }

  .feature-section h2 {
    font-size: 45px;
    line-height: 55px;
  }

  #home .flex p {
    font-size: 20px;
  }

  .sub-heading {
   font-style: normal;
   font-weight: 500;
   font-size: 35px;
   line-height: 48px;
 }

 .footer-start h1 {
  font-weight: 600;
  line-height: 60px;
  font-size: 50px;
}

.customer-section .card p {
  font-size: 16px;
  line-height: 25px;
}

.customer-section .card {
  padding: 30px;
}
}


@media only screen and (max-width: 991px) {
  .footer-start h1 {
    font-size: 32px !important;
  }

  .main-heading {
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
  }

  .faq-section ul {
    width: 100%;
    padding: 0;
  }

  .sub-heading {
    font-size: 34px;
    line-height: 50px;
  }

  .feature-section h2 {
    font-size: 50px;
    line-height: 60px;
  }

  .spirit-section .card {
    padding: 30px;
    flex-wrap: wrap;
    text-align: center;
  }

  .spirit-section .card .w-40,
  .spirit-section .card .w-60 {
    width: 100% !important;
  }


  .spirit-section .card h3 {
    font-size: 28px !important;
    margin-bottom: 20px;
  }

}


@media only screen and (max-width: 767px) {
  .footer-start h1 {
    font-size: 24px !important;
    line-height: 40px !important;
  }

  .main-heading {
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
  }

  .sub-heading {
    font-size: 28px;
    line-height: 40px;
    margin-top: 10px;
  }

  .customer-section .card {
    padding: 30px;
  }

  .main-text {
    font-size: 24px;
    line-height: 30px;
  }

  .feature-section h2 {
    font-size: 36px;
    line-height: 45px;
  }

}



@media only screen and (max-width: 576px) {
  .customer-section .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .faq-section ul li a.toggle {
    color: #fefefe;
    padding: 20px 25px;
    font-size: 16px;
    border-radius: 16px;
  }

  .main-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }

  .sub-heading {
   font-size: 28px;
   line-height: 36px;
   font-weight: 600;
 }


 .main-text {
  font-size: 18px;
  line-height: 26px;
}

.feature-section h2 {
  font-size: 30px;
  line-height: 45px;
}

#home .flex p {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 26px;
}

.navbar-custom img {
  width: 100px;
}

section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feature-section .text-right {
  text-align: left !important;
}

footer {
  text-align: center !important;
}

footer .ml-auto {
  margin: 0 auto !important;
}

}